/* **************************************

  General settings

*****************************************/
html body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background-color: white;
  margin: 0;
}

p {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

table {
  width: 100%;
  color: black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

table a {
  color: white;
}

th {
  border: none;
  border-style: hidden;
}

th,
td {
  padding-top: 15px;
  padding-bottom: 15px;
}

tr {
  margin: 20px;
  border-bottom: 1px solid #ebebeb;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.logo {
  width: auto;
  max-height: 26px;
  display: block;
  margin-left: 10px;
  border-radius: 50px;
  border: 2px solid black;
}

input.search {
  margin-top: 35px !important;
  margin-bottom: 20px !important;
}

.row {
  width: 100%;
}

/* **************************************

  NAVBAR

*****************************************/
.navbar {
  height: 64px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  color: black;
  font-weight: 600;
  margin-left: 10px;
}

/* **************************************

  HEADER

*****************************************/
header {
  width: 100%;
}

.sitedescription {
  color: white;
  padding: 35px;
}

.top-section-wrap {
  width: 100%;
  background-color: #d20014 !important;
}

/* **************************************

  SOCIALS

*****************************************/

.svg-inline--fa.fa-github.fa-w-16 {
  color: white;
  padding: 20px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.fa-github {
  background: black;
}

.fa-github:hover {
  background: #474747;
}

.socials {
  display: flex;
  justify-content: flex-end;
}

.socials a i {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  border-radius: 50px;
}

.fa-check {
  color: #d20014 !important;
}

/* **************************************

  CONTENT

*****************************************/

@media only screen and (max-width: 576px) {
  #main-table {
    width: 100%;
  }

  #items {
    width: 100%;
  }
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

/* #############################

  DATATABLES specific

  ############################## */

#main-table_wrapper {
  margin-top: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #ebebeb !important;
}

.paginate_button a {
  color: black !important;
}
